# Ignore node_modules directory
node_modules

# Ignore npm debug log
npm-debug.log

# Ignore yarn debug log
yarn-debug.log

# Ignore yarn error log
yarn-error.log

# Ignore .env file
.env

# Ignore any test coverage reports
coverage/

# Ignore any logs
logs/

# Ignore any temporary files
*.tmp

# Ignore TypeScript build output
dist/

# Ignore Git stuffs
.git
.github
.gitignore

# ignore non-code files
*.md
.prettierrc


# temp local files
seabot_web
seabot-dev
scripts